name: Release
on:
    push:
        branches:
            - main
jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        permissions: write-all
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '20.x'
                  cache: yarn
            - name: Setup git user
              run: |
                  git config --global user.name ${{ secrets.GH_DEPLOY_NAME }}
                  git config --global user.email ${{ secrets.GH_DEPLOY_EMAIL }}
            - name: Build and prepare release
              run: yarn install --frozen-lockfile && yarn prepare-release
            - name: Release package
              run: yarn semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GIT_AUTHOR_EMAIL: ${{ secrets.GH_DEPLOY_EMAIL }}
                  GIT_AUTHOR_NAME: ${{ secrets.GH_DEPLOY_NAME }}
                  GIT_COMMITTER_EMAIL: ${{ secrets.GH_DEPLOY_EMAIL }}
                  GIT_COMMITTER_NAME: ${{ secrets.GH_DEPLOY_NAME }}
